.m-active-effects {
  border: 4px solid red;
  padding: 0;
  margin: 0;
  // height: 2em;
  // 100% - section left space - fab right position - fab width - 2em
  max-width: calc(100% - 5% - 1.5em - 4.6em - 2em);
  box-sizing: border-box;
  position: fixed;
  bottom: 1.5em;
  left: 5%;
  overflow: hidden;
  opacity: 1;
  z-index: $active-effects;
  font-size: $font-size-root-100;
  transition: all $transition-ease-fast;
}
.is-onscreen-snack {
  .m-active-effects {
    bottom: 6em;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .is-onscreen-snack {
    .m-active-effects {
      bottom: 6em;
    }
  }
}
@media (min-width: $screen-md) {
  .m-active-effects {
    max-width: calc(100% - 15em);
    left: 5em;
    bottom: 2em;
  }
  .is-onscreen-snack {
    .m-active-effects {
      bottom: 6em;
    }
  }
}
@media (min-width: $screen-lg) {
  .m-active-effects {
    bottom: 1em;
  }
  .is-onscreen-snack {
    .m-active-effects {
      bottom: 6em;
    }
  }
}
@media (min-width: $screen-xl) {}
